@{
    ViewData["Title"] = "Home Page";
}
<head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<div class="text-center">
    
  
     <h1 class="display-4 text-white">Welcome To E-ParkingSystem</h1>
     <div class="container">
         <form asp-action="Login" asp-controller="Account">
            <h2 class="text-white">Let's get <button type="submit" class="btn" style="background-color: #20b2aa">Started</button></h2>
           </form>
     </div>
</div>


