<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>We have received your message</strong> you will soon get email from us.</p>
  <hr>
  
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-action="CustomerHomePage" role="button">Continue to homepage</a>
  </p>
</div>
